<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{title}}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-agregar-img.css') }}">
</head>
<body>
    <main>
        <div class="contenedor">
            <div class="contenedro-form">
                <div class="titulo">
                    <h1>Agregar imagen</h1>
                </div>
                <form action="#" method="post">
                    <div class="div-file">
                        <p class="txt">Subir Imagen</p>
                        <input type="file" class="btn-img" name="img-servi" accept="image/png, image/jpg" required>
                    </div>
                    <div class="btn-agregar-servi">
                        <button type="submit" class="btn-agregar" name="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>