<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{title}}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-agregar-servi.css') }}">
</head>
<body>
    <main>
        <div class="contenedor">
            <div class="contenedor-form">
                <div class="titulo">
                    <h1>Agregar Servicio</h1>
                </div>
                <form action="#" method="post">
                    <div class="div-file">
                        <p class="txt">Subir Imagen</p>
                        <input type="file" class="btn-img" name="img-servi" accept="image/png, image/jpg" required>
                    </div>
                    <div class="title-servi">
                        <input type="text" class="title" name="title-servi" placeholder="Titulo del Servicio" required>
                    </div>
                    <div class="sale-servi">
                        <input type="text" class="price" name="sale-servi" placeholder="Precio del Servicio" required>
                    </div>
                    <div class="btn-agregar-servi">
                        <button type="submit" class="btn-agregar" name="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>