<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fec365c2f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-editar-cita.css') }}"> 
    <title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body>
    <main class="contend-principal-form">
        <div class="contend-form">
            <div class="title-section">
                <p>Editar Cita</p>
            </div>
            {% for cita in citas %}
                <form action="/actualizar" class="form-agendar-cita" method="post">
                    <div class="txt-id">
                        <i class="fa-solid fa-id-badge icono-id"></i>
                        <input type="text" value="{{cita[0]}}" class="id" name="id">
                    </div>
                    <div class="txt-nombre">
                        <i class="fa-solid fa-user icono-name"></i>
                        <input type="text" value="{{cita[1]}}" class="nombre" name="nombre" required>
                    </div>
                    <div class="txt-num-cell">
                        <i class="fa-solid fa-phone icono-numCell"></i>
                        <input type="text" value="{{cita[2]}}" class="numCell" name="numCell" required>
                    </div>
                    <div class="txt-servicio">
                        <i class="fa-solid fa-clipboard-list icono-service"></i>
                        <input type="text" value="{{cita[3]}}" class="servicio" name="servicio" required>
                    </div>
                    <div class="txt-colaboradora">
                        <i class="fa-solid fa-user icono-colaboradora"></i>
                        <input type="text" value="{{cita[4]}}" class="colaboradora" name="colaboradora" required>
                    </div>
                    <div class="txt-fecha">
                        <i class="fa-solid fa-calendar icono-fecha"></i>
                        <input type="text" value="{{cita[5]}}" class="fecha" name="fecha" required>
                    </div>
                    <div class="btn-agendar">
                        <input type="submit" class="btn-agendar-cita" value="Agendar">
                    </div>
                </form>
            {% endfor %}
        </div>
    </main>
</body>
</html>