<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-inicio.css') }}">
    
</head>
<body>
    {% extends 'base/base.html' %}
    {%block content%}
    <main class="main">
        <div class="title">
            <p class="texto">Conoce Nuestros Diseños</p>
        </div>
        {% if "usuario" in session %} 
            <div class="buttom">
                <a href="/agregar-imagen" class="agregar-img">Agregar imagen</a>
            </div>
        {% endif %}
        {% for galeria in imagenes %}    
            <div class="seccion1">
                <div class="contenedor-galeri">
                    <div class="contenedor-imgs">
                        <img src="/website-TulipanSpa/static/galeria/{{galeria[1]}}" alt="foto" class="imgs">
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="title2">
            <p class="texto">Promociones y Noticias</p>
        </div>
        {% if "usuario" in session %}
        <div class="buttom">
            <a href="/agregar-noticia" class="agregar-prom-noti">Agregar Noticias</a>
        </div>
        {% endif %}
        {% for noti in noticias %}    
            <div class="seccion2">
                <div class="contenedor-prom">
                    <div class="contenedor-imgs-prom">
                        <img src="{{ url_for('static', filename='img/promocion1.jpg') }}" alt="promocion" class="imgs2">
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
    {%endblock%}
</body>
</html>