<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{{title}}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos-promociones.css') }}">
</head>
<body>
    {% extends 'base/base.html' %}
    {%block content%}
    <main class="main-prom">
        <div class="contend-prom">
            <div class="title-prom">
                <p>Promociones y Ofertas</p>
            </div>
            {% if "usuario" in session %}
                <div class="btns-prom">
                    <a href="agregar-Promocion" class="btn-agregar-prom">Agregar Promoción</a>
                </div>
            {% endif %}
            {% for prom in promociones %}    
                <div class="contend-img-promocion">
                    <div class="img-promocion">
                        <a href="#">
                            <img src="static/promociones/{{prom[1]}}" alt="promocion" class="foto-prom">
                        </a>
                        {% if "usuario" in session %}                            
                            <a href="borrar-img-promocion/{{prom[0]}}" class="borrar-prom">Borrar</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    {%endblock%}
</body>
</html>
<!-- <div class="img-promocion">
    <a href="#">
        <img src="{{ url_for('static', filename='img/promocion2.jpg') }}" 
        alt="promocion" class="foto-prom">
    </a>
</div> -->